main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.key {
    border: 2px solid gray;
    background-color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.pressed {
    border: solid 3px red !important;
}